.Xresources
.bash_logout
.parallel/
opensuse/
vim.save
.ICEauthority
.Xauthority
.bash_history
.cache
.cfg.git
.ssh
.dmrc
.emacs
.face
.gnupg
.gtkrc-2.0
Dokumenty
Obrázky
Veřejné
.i18n
.inputrc
.nvidia-settings-rc
.pki/
.profile
.viminfo
.viminfo.tmp
.viminfz.tmp
.xim.template
.xsession-errors
.xsession-errors.old
nixos
.config/vim/plugged/filepicker.vim/
.config/vim/undodir/
.viminfy.tmp
.config/BraveSoftware/
.viminfv.tmp
.viminfw.tmp
.viminfx.tmp
.local/share/gvfs-metadata/root-d5204bc7.log
.local/state/yazi/packages/3db547c6a883e54d90397a0bac9b736f/
.local/share/gvfs-metadata/root-3ce2578e.log
.local/share/gvfs-metadata/
.config/mozilla/
*.tmp
.config/autostart/geoclue-demo-agent.desktop
.config/autostart/nvidia-settings-load.desktop
.xdg_menu_cache/
.config/Mousepad/
Stažené/
config/xfce4/xfconf/xfce-perchannel-xml/catfish.xml
.y2log
.config/xfce4/xfconf/xfce-perchannel-xml/catfish.xml
.config/vim/plugged/fzf.vim/
.local/share/Trash/
.local/state/wireplumber/default-routes
.config/vim/plugged/fzf
.nix-channels .nix-defexpr .nix-profile
.nix-channels
.nix-defexpr/
.nix-profile
endos/

.dbus/
.config/vim/plugged/
