
*.tmp
.ICEauthority
.Xauthority
.Xresources
.bash_history
.bash_logout
.cache
.cfg.git
.config/BraveSoftware/
.config/Mousepad/
.config/autostart/geoclue-demo-agent.desktop
.config/autostart/nvidia-settings-load.desktop
.config/mozilla/
.config/vim/plugged/
.config/vim/plugged/filepicker.vim/
.config/vim/plugged/fzf
.config/vim/plugged/fzf.vim/
.config/vim/undodir/
.config/xfce4/xfconf/xfce-perchannel-xml/catfish.xml
.dbus/
.dmrc
.emacs
.face
.gnupg
.gtkrc-2.0
.i18n
.inputrc
.local/lib/
.local/share/.vivaldi_reporting_data
.local/share/Trash/
.local/share/gvfs-metadata/
.local/share/gvfs-metadata/root-3ce2578e.log
.local/share/gvfs-metadata/root-d5204bc7.log
.local/state/wireplumber/default-routes
.local/state/yazi/packages/3db547c6a883e54d90397a0bac9b736f/
.nix-channels
.nix-channels .nix-defexpr .nix-profile
.nix-defexpr/
.nix-profile
.nvidia-settings-rc
.parallel/
.pki/
.profile
.ssh
.viminfo
.viminfo.tmp
.xdg_menu_cache/
.xim.template
.xsession-errors
.xsession-errors.old
.y2log
Dokumenty
Obrázky
Stažené/
Veřejné
config/xfce4/xfconf/xfce-perchannel-xml/catfish.xml
endos/
nixos
opensuse/
vim.save
void-packages/
Templates/
.dotfiles/void_custom/etc/skel/.config/vim/plugged/filepicker.vim/
.dotfiles/void_custom/
.local/state/yazi/packages/6f649e06fe2ed3c37de5a38811b87668/
